<render ...input>
  <section class="hero is-transparent has-text-centered is-large">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          hang tight!
        </h1>
        <h2 class="subtitle">
          we are actively working on the guides for version 2!
        </h2>
      </div>
    </div>
  </section>
</render>
