<footer class="footer small-footer">
  <div class="container content has-text-centered">
    <a href="https://ludicrous.xyz" class="bold has-text-black" target="_blank">&copy; 2017 ludicrous</a>
  </div>
</footer>
